logs
*.log
lighthouse-report.html
.lighthouseci/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
.vscode/launch.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.history
/.cache
/build
functions/build/
.env.local
.env
.dev.vars
*.vars
.wrangler
_worker.bundle

Modelfile
modelfiles

# docs ignore
site

# commit file ignore
app/commit.json
changelogUI.md
docs/instructions/Roadmap.md
.cursorrules
*.md
!AI_COLLABORATION.md
!ARCHITECTURE.md
!DATA_GOVERNANCE.md
!DESIGN.md
!DOCUMENTATION.md
!LLM_INTEGRATION.md
!OPERATIONS.md
!ROADMAP.md
!README_EN.md
!README_OLD.md
!TECH_STACK.md
!notes/
!notes/**
.DS_Store
!AGENTS.md
.qodo
